.content {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
}

.coverPage_button__style {
  background: linear-gradient(
    76.91deg,
    rgb(76, 232, 190) -125.56%,
    rgb(133, 67, 194) 116.11%
  );
  color: white;
  height: 80px;
  width: 300px;
  font-weight: 1000;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: rgb(0 0 0 / 30%) 0px 2px 3px;
  border: 0px;
  border-radius: 0px;
  z-index: auto;
  transition: text-shadow 0.4s ease-in-out 0s;
}

.video_coverpage {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

@media only screen and (max-width: 500px) {
.video_coverpage{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}
}