.sectionTwo_section__style{
    background: linear-gradient(rgb(19, 10, 42) 0%, rgb(28, 11, 71) 100%);
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;

}
.sectionTwo_section__style h1{
    color: white;
padding-left: 30%;
}

.sectionTwo_section__style p{
    color: white;
padding-left: 20%;
padding-right: 12%;
}
.sectionTwo_section__style img{
    padding-left: 23%;
}